---
---

@import "minima";

.eimg {
  display: block;
  width: 80%;
  margin: 0 auto;
  position: relative;
  font-size: 10pt;
  font-style: italic;
  text-align: center;
}

.eimg img { width: 100%; display: block; }
.eimg.sml img { width: 50%; margin: 0 auto; }
.eimg.dbl img { width: 48%; display: inline; }

.eimg a {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 8px;
  font-size: 6pt;
  background: rgba(255, 255, 255, 0.33);
  color: black;
}

// Commodore 64 code styling
@font-face { font-family: cbm64;     src: url(fonts/PetMe64.ttf); }

pre {
  background: #3e52e9;
  border: solid 10px #a7bbff;
}
code {
  background: #3e52e9;
  color: #a7bbff;
  font-family: cbm64, monospace;
}